* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{background-color: #fffffe;}





/* Fonts */

/*Roboto*/

.font-roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.font-roboto-regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font-roboto-light{
   
        font-family: 'Roboto', sans-serif;
        font-weight: 300;  
}

.font-roboto-thin{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

/* Roboto Condensed */

.font-roboto-condensed-light{

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.font-roboto-condensed-regular{

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

    
}
.font-roboto-condensed-bold{

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    
}



/* Montserrat*/



.font-montserrat-thin{

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    
}

.font-montserrat-extralight{

    font-family: 'Montserrat', sans-serif;
    font-weight: 200;   
}

.font-montserrat-regular{

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;   
}

.font-montserrat-black{

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;   
}

/*Color pallet

Hex Codes: Azul escuro #0045f6 // preto #000000  // cinza escuro #1f1f1f // azul vivo #04cfff // branco #ffffff
*/


/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #000000;
}

a{   
    font-size: 20px;
    padding: 0px 20px 0 0px;
    color: #ffffff;
    background-color:#000000;
}


/* Frontpage */


.front-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}



.blob {
  position: static;
  z-index: -1;
  height: 100%;
  width: 100%;
}


h1{

  top: 39.5%;
  left: 2rem;
  font-size: 1rem;
}

h2{
  
position: absolute;
top: 42%;
left: 2rem;
font-size: 3rem;
color: #ffffff;
}

h3{
top: 50%;
left: 2rem;
font-size: 1rem;
}

h1, h3 {
  position: absolute;
  color: #ffffff;
}

/* About me */

.about-me-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative; /* added to allow z-index */
  z-index: 1; /* added to stack the triangle behind the other elements */
}

.about-me-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0045f6; /* blue color */
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%); /* creates an upward-pointing equilateral triangle */
  z-index: 0; /* added to stack the triangle behind the other elements */
}

.about-me-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* white color */
  z-index: -1; /* added to stack the white background behind the triangle */
}



.about-me-wrapper{
    display: flex;
    flex-direction:row;
    width: 100%;
    align-items: center;
}

.about-me-text h4 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 50px;
    text-decoration: underline #04cfff;
    text-underline-offset: 0.3em;
    padding-bottom: 10px;

}

.about-me-text p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 2;

}


.about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
    padding-left: 2rem;

}

.space{
    flex: 2;
}


.img-portrait{
flex: 1;
height: 320px;
width: 300px;
border-radius: 50%;
}

.space2{
  flex: 1;
}

/*Projects*/

.projects-wrapper{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
background-color: #ffffff;
opacity: 1;
background-image:  radial-gradient(#0045f6 0.5px, transparent 0.5px), radial-gradient(#0045f6 0.5px, #ffffff 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}



.container-projects-title{
  font-size: 2rem;
  color: #000000;
  padding: 2rem;
  text-decoration: underline #04cfff;
  text-underline-offset: 0.3em;
}

.container-projects-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 90%;
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: 40px;
  padding: 30px 0px 30px 0px;
}

/* ProjectsIntro*/


.project-cell {
  display: flex;
  cursor: pointer;
  background-color: #04cfff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10%;
  border: 10px solid #90b4ce;
  
}

.project-title{
  position: static;
  cursor: pointer;
  color: #ffffff;
  text-decoration: underline #ffffff 0.2em;
  text-underline-offset: 0.3em;
  padding-bottom: 5px;
  
}

.project-intro{
  padding-top: 10px;
  cursor: pointer;
  line-height: 1.5;
  color: #ffffff;
  padding: 10px 30px 0px 30px;
 
}

/* Expandable Card */

.expanded-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  overflow:scroll;
  z-index: 1000;
  }
  
  .close-button {
    float: right;
    margin-top: 0;
  }
  


/* ProjectCardExpandedView */

.container-project {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
h7{
  margin-left: 20px;
}

.wrapper-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 2;
  margin-right: 20px;
}

.description {
  flex: 2;
  margin-left: 20px;
  border: 2px solid #90b4ce;
  padding: 20px;
}

.space {
  flex: 1;
}

img {
  border-radius: 5%;
  object-fit: cover;
  width: 100%;
  box-sizing: border-box;
}

  

/* Contacts */

.container-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  width: 100%;
  height: 20vh;
opacity: 1;
background-image:  radial-gradient(#0045f6 0.5px, transparent 0.5px), radial-gradient(#0045f6 0.5px, #ffffff 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}

.contacts-title {
  font-size: 1.5rem;
  color: #000000;
  padding-bottom: 1rem;
}

.container-square-border{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 80%;
  border: 2px solid #0045f6;

}

.wrapper-button{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


